{
{% if is_development_environment %}
    "env": "development",
{% else %}
    "env": "production",
{% endif %}
    "franceConnect" : {
        "URL": "{{ franceconnect_url }}/",
        "openIDConnectStrategyParameters": {
            "clientID": "{{ franceconnect_cliend_id }}",
            "clientSecret": "{{ franceconnect_client_secret }}",
            "callbackURL": "http://{{ front_web_public_host }}/auth/connectCallback",
            "authorizationURL": "{{ franceconnect_url }}/api/v1/authorize",
            "tokenURL": "{{ franceconnect_url }}/api/v1/token",
            "userInfoURL": "{{ franceconnect_url }}/api/v1/userinfo",
            "logoutURL": "{{ franceconnect_url }}/api/v1/logout",
            "acr_values": "eidas2"
        },
        "oauth": {
            "authorizationURL": "{{ franceconnect_url }}/api/v1/authorize",
            "tokenURL": "{{ franceconnect_url }}/api/v1/token",
            "callbackURL": "http://{{ front_web_public_host }}/auth/connectCallback",
            "scope": ["openid", "profile"]
        }
    }
}
