{
{% if is_development_environment %}
    "env": "development",
{% else %}
    "env": "production",
{% endif %}
    "franceConnect" : {
        "URL": "http://{{ franceconnect_url }}/",
        "openIDConnectStrategyParameters": {
            "clientID": "{{ franceconnect_cliend_id }}",
            "clientSecret": "{{ franceconnect_client_secret }}",
            "callbackURL": "http://{{ front_web_public_host }}/api/user/openIDConnectCallback",
            "authorizationURL": "http://{{ franceconnect_url }}/api/v1/authorize",
            "tokenURL": "http://{{ franceconnect_url }}/api/v1/token",
            "userInfoURL": "http://{{ franceconnect_url }}/api/v1/userinfo",
            "logoutURL": "http://{{ franceconnect_url }}/api/v1/logout",
            "acr_values": "eidas2",
            "scope": ["profile", "email", "address", "phone", "openid"]
        },
        "oauth": {
            "authorizationURL": "http://{{ franceconnect_url }}/api/v1/authorize",
            "tokenURL": "http://{{ franceconnect_url }}/api/v1/token",
            "callbackURL": "http://{{ front_web_public_host }}/api/user/openIDConnectCallback"
        }
    }
}
