div.embed {
    height: 100%;
    background-color: white;

    div.container {
        width: 100%;
        padding: 0 10px;

        .row {
            margin: 0 -10px;

            .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1,
            .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2,
            .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3,
            .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4,
            .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5,
            .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6,
            .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7,
            .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8,
            .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9,
            .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10,
            .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11,
            .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
                padding: 0 10px;
            }
        }
    }

    .content {
        padding-top: 0;
        padding-bottom: 37px;
    }

    .callout {
        font-size: 0.7em;
        padding: 10px;
        margin-top: 10px;

        &-danger {
            font-size: 1em !important;

            h3 {
                font-size: 26px !important;
            }
        }

        h3 {
            font-size: 15px;
        }

        p {
            display: inline;

            &:before {
                content: ' ';
            }

            &:last-child {
                margin-bottom: 0;
            }
        }

        .btn {
            .btn-xs();
        }
    }

    .vote-widget {
        font-size: 16px;

        .vote-title {
            font-size: 18px;
        }

        .vote-step-actions {
            margin-top: 10px;
        }
    }

    div#footer {
        border-top: 1px solid @cocorico-grey;
        position: fixed;
        bottom: -1px;
        height: 37px;
        width: 100%;
        min-height: 0;
        margin-top: 0;

        .list-inline {
            margin-left: 0;
        }

        .list-inline li {
            margin-right: 20px;
            padding: 0;
        }

        .text-right .list-inline li {
            margin-right: 0;
            margin-left: 20px;
        }

        li {
        }

        a {
            margin-top: 5px;
        }
    }
}
