@import "./bootstrap/bootstrap.less";
@import "font-news-cycle.less";
@import "./bootswatch-journal-variables.less";

@cocorico-blue: #4285F4;
@cocorico-dark-blue: #0d64f3;
@cocorico-red: @brand-primary;
@cocorico-dark-red: #993300;
@cocorico-grey: #e7e7e7;
@cocorico-dark-grey: #999;
@cocorico-light-grey: #f8f8f8;

@text-color: #444;
@link-color: #5B86CF;
@headings-color: @text-color;
@component-active-bg: @cocorico-blue;
@btn-danger-bg: @cocorico-red;
@btn-danger-border: @cocorico-red;
@btn-primary-bg: @cocorico-blue;
@btn-primary-border: @cocorico-blue;

@color-positive: @btn-success-bg;
@color-positive-dark: #5cb85c;
@color-negative: @btn-danger-bg;
@color-negative-dark: @cocorico-dark-red;

@import "./bootswatch-journal.less";

@import "./icons.less";

[class^="icon-"], [class*=" icon-"] {
    color: @cocorico-dark-grey;
}

body {
    background-color: #f8f8f8;
}

a {
    // text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
    .small {
        margin-left: 10px;
    }
}

li.active {
    a {
        text-decoration: none;
    }
}

#app {
    background-color: white;
}

.positive {
    color: @color-positive;
}

.negative {
    color: @color-negative;
}

.positive-background {
    background-color: @color-positive;
}

.negative-background {
    background-color: @color-negative;
}

.cocorico-blue {
    color: @cocorico-blue;
}

.cocorico-grey {
    color: @cocorico-grey;
}

.cocorico-grey-background {
    background-color: @cocorico-grey;
}

.cocorico-light-grey-background {
    background-color: @cocorico-light-grey;
}

.cocorico-dark-grey {
    color: @cocorico-dark-grey;
}

.cocorico-red {
    color: @cocorico-red;
}

#header {

    a {
        text-decoration: none !important;
    }

    .navbar {
        border-radius: 0;
    }

    .nav button {
        margin-top: 6px;
    }

    .navbar-default .navbar-nav > li > a.active {
        color: @cocorico-blue;
    }

    .navbar-right {
        margin-right: 5px;
    }

    #logo {
        text-transform: uppercase;
        font-size: 24px;

        a:hover {
            text-decoration: none;
        }
    }

    .account-dropdown {
        min-width: 200px;
        margin-left: 10px;
        margin-right: -2px;
        font-size: 18px;
    }

    ul.dropdown-menu {
        min-width: 200px;
        margin-top: -1px;
        margin-right: -2px;
    }
}

#content {
    padding-top: @navbar-height;
    font-size: 1.5em;
}

#footer {
    border-top: 1px solid @cocorico-grey;
    min-height: 200px;
    background-color: @cocorico-light-grey;
    padding-top: 20px;
    color: @cocorico-dark-grey;

    a {
        color: @cocorico-dark-grey;

        &:hover {
            color: @cocorico-blue;
        }
    }

    .list-inline li {
        margin-right: 20px;
    }
}

.nav-tabs {
    border-bottom-color: @cocorico-grey;

    li.active > a {
        border-color: @cocorico-grey @cocorico-grey transparent;
    }
}

.bill {
    .tab-content {
        padding: 20px 0;
    }

    .nav-tabs > li:first-child > a {
        margin-left: 15px;
    }

    .bill-content {
        text-align: justify;
        min-height: 100px;
    }

    .bill-title {
        margin-top: 80px;
        margin-right: 10px;
        font-size: 2em;
        text-transform: capitalize;
        display: inline-block;
    }

    .voted-blank {
        background-color: @cocorico-grey;

        .section {
            border: none;
        }
    }

    .voted-no {
        .voted-blank;

        background-color: @color-negative;
        color: white;

        h2, h2 .small, h2 .icon-secured {
            color: white !important;
        }

        .btn-unvote {
            background-color: white;
            color: @color-negative;
            border: none !important;

            &:hover {
                background-color: @cocorico-light-grey;
            }
        }
    }

    .voted-yes {
        .voted-no;
        background-color: @color-positive;

        .btn-unvote {
            color: @color-positive;
        }
    }
}

.page {
    margin: 50px 0;
}

.page-home {
}

.btn-vote {
    width: 170px;
    padding: 20px;
}

.btn-positive {
    .btn-vote();
    .btn-success();
}

.btn-neutral {
    .btn-vote();

    background-color: @cocorico-dark-grey;
}

.btn-negative {
    .btn-vote();
    .btn-danger();
}

.btn-unvote {
    text-transform: capitalize;
}

.btn-login {
    height: 50px;
    margin: 10px 0;
    width: 100%;
}

[class^="btn-login-"], [class*=" btn-login-"] {
    font-size: 22px;
    border: none;

    [class^="icon-"], [class*=" icon-"] {
        vertical-align: sub;
        margin-right: 10px;
        color: white;
    }
}

.btn-login-facebook {
    background-color: #4e69a2;

    &:hover {
        background-color: #3f5585
    }
}

.btn-login-google {
    background-color: #db4437;

    &:hover {
        background-color: #bb3a2f
    }
}

.btn-login-france-connect {
    background-color: #0277bd;

    &:hover {
        background-color: #055e94;
    }
}

.btn-create-bill {
    margin-top: 10px;
}

.error-404 {
    font-size: 2em;
}

.section {
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: 1px solid @cocorico-grey;

    .section-title {
        margin-bottom: 20px;
    }

    &.section-no-border {
        border: none;
    }
}

.section-hint {
    .section;

    border-bottom: 1px solid @cocorico-grey;
}

.hint {
    color: @cocorico-dark-grey;

}

.pace {
    -webkit-pointer-events: none;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.pace-inactive {
    display: none;
}

.pace .pace-progress {
    background: @cocorico-red;
    position: fixed;
    z-index: 2000;
    top: @navbar-height + 1;
    right: 100%;
    width: 100%;
    height: 2px;
}

.bill-editor {
    .bill-content {
        height: 500px;
    }
}

.bill-list {
    li {
        padding: 10px 0;
        min-height: 40px;
    }

    select {
        margin: 0 10px;
    }

    .like-buttons {
        margin-left: 10px;
    }
}

.tabs-my-bills {
    margin-top: 20px;

    .bill-list li {
        padding: 10px 10px;

        &:nth-child(even) {
            background: @cocorico-light-grey;
        }
    }
}

.toc {
    border: 1px solid @cocorico-grey;
    background-color: @cocorico-light-grey;
    padding: 10px 20px;
    display: inline-block;
}

.like-buttons {
    .icon-thumb_up, .icon-thumb_down {
        margin: 0 5px;
        cursor: default;
    }
}

.icon-btn {
    cursor: pointer !important;
}

.icon-thumb_up {
    &.icon-btn-active,
    &:hover {
        color: @color-positive;
    }
}

.icon-thumb_down {
    &.icon-btn-active,
    &:hover {
        color: @color-negative;
    }
}

.like-score {
    display: inline-block;
    color: @cocorico-dark-grey;
    margin-left: 5px;
}

a.btn-hint-show {
    color: @cocorico-dark-grey;
    cursor: pointer;
    border-bottom: 1px dashed @cocorico-dark-grey;
    padding-bottom: 3px;
    text-decoration: none;

    .icon-info {
        vertical-align: middle;
    }

    .hint-title {
        padding-left: 5px;
        padding-top: 4px;
    }

    &:hover {
        text-decoration: none;
        border-bottom-style: solid;
    }
}

ul.argument-list {
    li {
        padding: 10px;

        &:nth-child(even) {
            background-color: @cocorico-light-grey;
            border-top: 1px solid @cocorico-grey;
            border-bottom: 1px solid @cocorico-grey;
        }

        h4 {
            display: inline-block;
        }
    }
}

.argument-editor {
    margin-top: 20px;

    button {
        margin-left: 10px;
    }
}

.loading-indicator {
    background-image: url(/img/ripple.gif);
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    margin-bottom: 4px;
}

.bill-part {
    // transition: opacity .25s ease-in-out;
    position: relative;

    @media (max-width: (@screen-md-max + 100)) {
        margin-right: 50px;
    }

    .bill-part-header-anchor {
        margin-top: -@navbar-height - 20;
        position: absolute;
    }

    a {
        &:hover {
            color: @text-color !important;
        }
    }

    .bill-part-relative-score {
        opacity: 0.1;
        transition: opacity .25s ease-in-out;
        padding-right: 30px;
        left: -30px;
        position: absolute;
        height: 100%;
    }

    &:hover {
        .bill-part-relative-score {
            opacity: 1.0;
        }

        .like-buttons {
            opacity: 1.0;
            transition: opacity .25s ease-in-out;
        }
    }

    .like-buttons-active {
        opacity: 1.0 !important;
    }

    .like-buttons {
        opacity: 0.25;
        position: absolute;
        left: 100%;
        padding-left: 30px;

        .icon-thumb_up, .icon-thumb_down {
            margin: 3px 0;
            display: block;
        }

        .like-score {
            margin-left: 0;
        }
    }
}

.callout {
    border: 1px solid @cocorico-grey;
    border-left-width: 5px;
    padding: 20px;
    margin: 10px 0;

    h1, h2, h3, h4, h5, h6 {
        color: @cocorico-grey;
    }

    &.callout-primary {
        border-left-color: @cocorico-blue;
        h1, h2, h3, h4, h5, h6 {
            color: @cocorico-blue;
        }
    }

    &.callout-danger {
        border-left-color: @cocorico-red;
        h1, h2, h3, h4, h5, h6 {
            color: @cocorico-red;
        }
    }
}
