@import "./bootstrap/bootstrap.less";
@import "font-news-cycle.less";
@import "./bootswatch-journal-variables.less";

@cocorico-light-grey: #ecf0f1;
@cocorico-grey: #bdc3c7;
@cocorico-dark-grey: #95a5a6;

@color-positive: #2ecc71;
@color-positive-dark: #27ae60;
@color-negative: #e74c3c;
@color-negative-dark: #c0392b;

@text-color: #444;
@link-color: #2980b9;
@headings-color: @text-color;
@component-active-bg: #3498db;
@btn-danger-bg: @color-negative;
@btn-danger-border: @color-negative-dark;
@btn-primary-bg: #4285F4;
@btn-primary-border: #0d64f3;
@btn-success-bg: @color-positive;
@btn-success-border: @color-positive-dark;
@btn-warning-bg: #f39c12;
@btn-warning-border: #e67e22;

@import "./bootswatch-journal.less";

// @import "./Source Sans Pro.less";
@import "./icons.less";

// @font-family-sans-serif: "Source Sans Pro", "Arial Narrow", sans-serif;
// @font-family-serif: Georgia, "Times New Roman", Times, serif;

body {
    background-color: @cocorico-light-grey;
    font-family: @font-family-sans-serif;
    // color: @text-color;
    font-size: floor(@font-size-base * 1.2);

    // https://github.com/twbs/bootstrap/issues/14040
    &.modal-open {
        padding-right: 0 !important;
    }
}

a {
    // text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal !important;

    [class^="icon-"], [class*=" icon-"] {
        &:before {
            margin-right: 15px;
            vertical-align: bottom;
        }
    }
}

img {
    max-width: 100%;
}

.nav-tabs > li,
.panel-title {
    [class^="icon-"], [class*=" icon-"] {
        margin-right: 10px;
    }
}

.container {
    max-width: 100%;
}

.btn {
    border: none;
    white-space: normal;

    [class^="icon-"], [class*=" icon-"] {
        &:before {
            margin-right: 5px;
        }
    }
}

.well {
    box-shadow: none;
    background-color: @cocorico-light-grey;
    border-color: @cocorico-grey;
}

.modal-footer .btn-toolbar .btn {
    margin: 0;
}

.btn-outline {
    border: 2px solid white;
    color: white;
    background: transparent;

    &:hover {
        background-color: white;
        color: @text-color;
    }
}

.btn-toolbar-vertical {
    .btn {
        float: none;
        display: block;
        margin: 10px 0;
        width: 100%;
    }
}

.btn-toolbar {
    @media (max-width: (@screen-sm-min)) {
        .btn-toolbar-vertical();
    }
}

li.active {
    a {
        text-decoration: none;
    }
}

#app {
    background-color: white;
}

.positive {
    color: @color-positive;
}

.neutral {
    color: @cocorico-dark-grey;
}

.negative {
    color: @color-negative;
}

.positive-background {
    background-color: @color-positive;
}

.negative-background {
    background-color: @color-negative;
}

.cocorico-grey {
    color: @cocorico-grey;
}

.cocorico-grey-background {
    background-color: @cocorico-grey;
}

.cocorico-light-grey-background {
    background-color: @cocorico-light-grey;
}

.cocorico-dark-grey {
    color: @cocorico-dark-grey;
}

#header {

    a {
        text-decoration: none !important;
        // color: @text-color;
        // font-weight: bold;
    }

    .navbar {
        border-radius: 0;
    }

    .nav button {
        margin-top: 9px;
    }

    .navbar-default .navbar-nav > li > a.active {
        color: @component-active-bg;
    }

    .navbar-right {
        margin-right: 5px;
    }

    #logo {
        text-transform: uppercase;
        font-size: 24px;

        a:hover {
            text-decoration: none;
        }

        small {
            font-size: 50%;
        }
    }

    .account-dropdown {
        min-width: 200px;
        margin-left: 10px;
        margin-right: -2px;
        font-size: 18px;
    }

    ul.dropdown-menu {
        min-width: 200px;
        margin-top: -1px;
        margin-right: -2px;
    }
}

#content {
    padding-top: @navbar-height;
}

#footer {
    min-height: 200px;
    background-color: @cocorico-light-grey;
    color: @cocorico-dark-grey;
    margin-top: 40px;
    font-size: @font-size-base;

    .list-inline li {
        margin-right: 20px;

        a {
            margin-top: 20px;
            display: inline-block;
            color: @cocorico-dark-grey;

            &:hover {
                color: @link-color;
            }
        }
    }
}

.nav-tabs {
    border-bottom-color: @cocorico-grey;

    li.active > a {
        border-color: @cocorico-grey @cocorico-grey transparent;
    }
}

.bill {
    .tab-content {
        padding-top: 20px;
    }

    .nav-tabs {
        font-size: @font-size-large;

        & > li:first-child > a {
            margin-left: 15px;
        }
    }

    .bill-content {
        min-height: 100px;
        padding-bottom: 30px;
        font-size: @font-size-large;
        font-family: @font-family-serif;

        h1, h2, h3, h4, h5, h6 {
            font-family: @font-family-serif;
            font-weight: normal;
        }

        h1 {
            font-size: floor((@font-size-base * 2.6 * .75)); // ~36px
        }
        h2 {
            font-size: floor((@font-size-base * 2.15 * .75)); // ~30px
        }
        h3 {
            font-size: ceil((@font-size-base * 1.7 * .75)); // ~24px
        }
        h4 {
            font-size: ceil((@font-size-base * 1.25 * .75)); // ~18px
        }
        h5 {
            font-size: ceil(@font-size-base * .75);
        }
        h6 {
            font-size: ceil((@font-size-base * 0.85 * .75)); // ~12px
        }
    }

    .bill-title {
        margin-top: 80px;
        margin-right: 10px;
        text-transform: capitalize;
        display: inline-block;
        font-size: ceil(@font-size-base * 4);
        font-family: @font-family-sans-serif;
    }

    .voted-blank {
        background-color: @cocorico-grey;
        color: white;
        border-radius: 4px;
        padding: 10px;

        h2, h2 .small, h2 .icon-secured {
            color: white !important;
        }
    }

    .voted-no {
        .voted-blank();

        background-color: @color-negative;
        color: white;

        h2, h2 .small, h2 .icon-secured {
            color: white !important;
        }

        .btn-unvote {
            background-color: white;
            color: @color-negative;
            border: none !important;

            &:hover {
                background-color: @cocorico-light-grey;
            }
        }
    }

    .voted-yes {
        .voted-blank();
        background-color: @color-positive;

        .btn-unvote {
            color: @color-positive;
        }
    }
}

.page {
    margin: 50px 0;

    & > .loading-indicator {
        display: block;
        margin: 100px 0;
        text-align: center;
    }

    &-home {
        margin: 0;
    }

    .embed-responsive {
        margin: 20px 0;
    }
}

.btn-vote {
    min-width: 170px;
}

.btn-positive {
    .btn-success();
}

.btn-neutral {
    background-color: @cocorico-dark-grey;
}

.btn-negative {
    .btn-danger();
}

.btn-unvote {
    text-transform: capitalize;
}

.btn-login {
    height: 50px;
    margin: 10px 0;
    width: 100%;
}

[class^="btn-login-"], [class*=" btn-login-"] {
    font-size: 22px;
    border: none;

    [class^="icon-"], [class*=" icon-"] {
        vertical-align: sub;
        margin-right: 10px;
        color: white;
    }
}

.btn-login-facebook {
    background-color: #4e69a2;

    &:hover {
        background-color: #3f5585
    }
}

.btn-login-google {
    background-color: #db4437;

    &:hover {
        background-color: #bb3a2f
    }
}

.btn-login-france-connect {
    background-color: #0277bd;

    &:hover {
        background-color: #055e94;
    }
}

.btn-create-bill {
    margin-top: 10px;
}

.error-404 {
    font-size: 2em;
}

.section {
    margin-top: 20px;
}

.section-title {
    border-bottom: 1px solid @cocorico-grey;

    h1 {
        font-size: floor((@font-size-h1 * 1.25));
    }
}

.hint {
    color: @cocorico-dark-grey;
}

.hint-title {
    padding-left: 5px;
    vertical-align: middle;
}

.pace {
    -webkit-pointer-events: none;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.pace-inactive {
    display: none;
}

.pace .pace-progress {
    background: @component-active-bg;
    position: fixed;
    z-index: 1000;
    top: @navbar-height + 1;
    right: 100%;
    width: 100%;
    height: 2px;
}

.bill-editor {
    .bill-content {
        height: 500px;
    }
}

.bill-list {
    li {
        padding: 10px 0;
        min-height: 40px;
    }

    select {
        margin: 0 10px;
    }

    .like-buttons {
        margin-left: 10px;
    }
}

.tabs-my-bills {
    margin-top: 20px;

    .bill-list li {
        padding: 10px 10px;

        &:nth-child(even) {
            background: @cocorico-light-grey;
        }
    }
}

.toc {
    border: 1px solid @cocorico-grey;
    background-color: @cocorico-light-grey;
    padding: 10px 20px;
    display: inline-block;
}

.like-buttons {
    font-size: 20px;

    [class^="icon-"], [class*=" icon-"] {
        color: @cocorico-dark-grey;
    }

    .icon-thumb_up, .icon-thumb_down {
        margin: 0 5px;
        cursor: default;
    }

    .icon-thumb_up {
        &.icon-btn-active,
        &:hover {
            color: @color-positive;
        }
    }

    .icon-thumb_down {
        &.icon-btn-active,
        &:hover {
            color: @color-negative;
        }
    }
}

.icon-btn {
    cursor: pointer !important;
}

.like-score {
    display: inline-block;
    color: @cocorico-dark-grey;
    margin-left: 5px;
}

.btn-hint-show {
    color: @cocorico-dark-grey;
    cursor: pointer;
    text-decoration: none;
    margin-top: 20px;
    display: inline-block;
    font-size: @font-size-large;

    .icon-info {
        vertical-align: middle;
        &:before {
        }
    }

    &:hover {
        text-decoration: none;

        .icon-info {
            color: @link-hover-color;
        }
    }
}

.btn-hint-hide {
    margin-left: 0 !important;
    padding-left: 5px;
    padding-bottom: 0;
    text-align: left;
}

ul.argument-list {
    li {
        padding: 10px;

        &:nth-child(even) {
            background-color: @cocorico-light-grey;
            border-top: 1px solid @cocorico-grey;
            border-bottom: 1px solid @cocorico-grey;
        }

        h4 {
            display: inline-block;
        }
    }
}

.argument-editor {
    margin-top: 20px;

    button {
        margin-left: 10px;
    }
}

.loading-indicator {
    &-animation {
        background-image: url(/img/loading.gif);
        background-repeat: no-repeat;
        background-size: contain;
        width: 25px;
        height: 25px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
        margin-top: -3px;
    }
}

.bill-part {
    // transition: opacity .25s ease-in-out;
    position: relative;

    @media (max-width: (@screen-md-max + 100)) {
        margin-right: 50px;
    }

    .bill-part-header-anchor {
        margin-top: -@navbar-height - 20;
        position: absolute;
    }

    a {
        &:hover {
            color: @text-color !important;
        }
    }

    .bill-part-relative-score {
        opacity: 0.1;
        transition: opacity .25s ease-in-out;
        padding-right: 30px;
        left: -30px;
        position: absolute;
        height: 100%;
    }

    &:hover {
        .bill-part-relative-score {
            opacity: 1.0;
        }

        .like-buttons {
            opacity: 1.0;
            transition: opacity .25s ease-in-out;
        }
    }

    .like-buttons-active {
        opacity: 1.0 !important;
    }

    .like-buttons {
        opacity: 0.25;
        position: absolute;
        left: 100%;
        padding-left: 30px;

        .icon-thumb_up, .icon-thumb_down {
            margin: 3px 0;
            display: block;
        }

        .like-score {
            margin-left: 0;
        }
    }
}

.callout {
    border: 1px solid @cocorico-grey;
    border-left-width: 5px;
    border-radius: 4px;
    padding: 20px;
    margin-top: 20px;

    h1, h2, h3, h4, h5, h6 {
        color: @cocorico-grey;
        margin-top: 0;
    }

    &.callout-primary {
        border-left-color: @btn-primary-bg;
        h1, h2, h3, h4, h5, h6 {
            color: @btn-primary-bg;
        }
    }

    &.callout-danger {
        border-left-color: @btn-danger-bg;
        h1, h2, h3, h4, h5, h6 {
            color: @btn-danger-bg;
        }
    }

    &.callout-warning {
        border-left-color: @btn-warning-bg;
        h1, h2, h3, h4, h5, h6 {
            color: @btn-warning-bg;
        }
    }
}

.proof-of-vote {
    display: none;

    img {
        width: 512px;
        height: 512px;
    }
}

@media print {
    .proof-of-vote {
        display: block;
    }
}

.vote-widget {
    .modal-header {
        border: none;
    }

    .container {
        width: 100%;
    }

    .vote-step-progress {
        margin: 0;
        padding: 0;
        border-radius: 0;

        .progress {
            margin: 0;
        }

        .progress-bar {
            background-color: @btn-primary-bg;
        }
    }

    .vote-step-counter {
        text-align: center;
        margin-top: 5px;
        color: @cocorico-grey;

        .vote-step-number {
            border-radius: 50%;
            behavior: url(PIE.htc);
            box-sizing: content-box;
            width: 18px;
            height: 18px;
            padding: 2px;
            line-height: 18px;
            font-size: 14px;
            border: 1px solid @cocorico-grey;
            text-align: center;
            font-family: sans-serif;
            margin: auto;
        }

        .vote-step-name {
            display: block;
        }

        &-active {
            color: @btn-primary-bg;

            .vote-step-number {
                border: 1px solid @btn-primary-bg;
            }
        }

        &-done {
            color: @text-color;

            .vote-step-number {
                border: 1px solid @text-color;
            }
        }
    }

    .vote-step-description {
        margin: 10px 0;

        .btn-toolbar.vote-step-actions {
            margin-top: 30px;
            margin-left: 0;

            .loading-indicator {
                height: 37px;
                padding: 8px 0;
                font-size: 15px;
                line-height: 1.42857143;
                vertical-align: middle;
                display: inline-block;
            }
        }
    }
}

.btn-switch-video {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, 0);
    color: @cocorico-light-grey;
    font-size: 37px;
    border: 2px solid @cocorico-light-grey;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 4px;
    line-height: 37px;
    background-color: rgba(0, 0, 0, 0.15);
    cursor: pointer;
    text-align: center;

    &:hover {
        color: white;
        border-color: white;
    }
}

.voter-card-reader {
    .btn-toolbar {
        .text-center();

        .btn {
            float: none;
        }
    }

    @media (min-width: (@screen-xs-max)) {
        .btn {
            max-width: 300px;
        }
    }
}

ul.source-list {
    list-style: none;
    padding: 0;

    li {
        margin: 10px 0;

        .source-image {
            width: 100%;
            height: 75px;
            background-size: cover;
            background-position: center;
            size: 30px;
            border: 1px solid @cocorico-grey;
        }

        p {
            .small();
            margin: 0;
            padding: 0;
        }

        .icon-play {
            color: white;
            font-size: 50px;
            width: 100%;
            margin-top: 2px;
            display: inline-block;
            text-shadow: 0px 0px 2px black;
        }
    }
}
