description "{{ role_name }}"

{% if ethereum_mine_on_boot and capabilities.vote.enabled %}
{% if is_development_environment %}
start on vagrant-mounted MOUNTPOINT={{ cocorico_local_dir }}
{% else %}
start on startup
{% endif %}
{% endif %}
stop on shutdown
stop on stopping {{ project_name }}-blockchain

respawn
respawn limit 10 5

post-start script
    sleep 10s
    echo "web3.miner.start({{ ethereum_miner_threads }})" | geth attach ipc:/{{ ethereum_datadir }}/geth.ipc
end script

post-stop script
    echo "web3.miner.stop()" | geth attach ipc:/{{ ethereum_datadir }}/geth.ipc || true
end script
