# {{ ansible_managed }}

ProxyRequests       Off
ProxyPreserveHost   On

ProxyPass           /blockchain/ http://{{ ethereum_rpc_private_host }}:{{ ethereum_rpc_private_port }}/
ProxyPassReverse    /blockchain/ http://{{ ethereum_rpc_private_host }}:{{ ethereum_rpc_private_port }}/
