description "{{ role_name }}"

respawn
respawn limit 10 5

script
    exec geth --rpc --rpccorsdomain "http://{{ ethereum_rpc_host }}:{{ ethereum_rpc_port }}" --mine --genesis {{ project_dir }}/{{ role_name }}/genesis_block.json --networkid "{{ ethereum_network_id }}"
end script
