description "{{ role_name }}"

{% if not ethereum_mine_on_boot and capabilities.vote.enabled %}
{% if is_development_environment %}
start on vagrant-mounted MOUNTPOINT={{ cocorico_local_dir }}
{% else %}
start on startup
{% endif %}
{% endif %}
stop on shutdown
start on starting {{ project_name }}-blockchain-miner

respawn
respawn limit 10 5

script
{%if ethereum_testrpc is defined and ethereum_testrpc %}
    exec testrpc --unlock 0 --blocktime 1 --db {{ ethereum_datadir }}
{% else %}
    exec geth \
{% if ethereum_max_peers is defined and ethereum_max_peers %}
        --maxpeers {{ ethereum_max_peers }} \
{% endif %}
{% if ethereum_no_discover is defined and ethereum_no_discover %}
        --nodiscover \
{% endif %}
        --rpc \
        --rpccorsdomain "http://{{ ethereum_rpc_private_host }}:{{ ethereum_rpc_private_port }}" \
{% if ethereum_network_id is defined and ethereum_network_id %}
        --networkid "{{ ethereum_network_id }}" \
{% endif %}
{% if ethereum_target_gas_limit is defined and ethereum_target_gas_limit %}
        --targetgaslimit "{{ ethereum_target_gas_limit }}" \
{% endif %}
        --unlock 0 \
        --password {{ project_dir }}/{{ role_name }}/password \
        --datadir {{ ethereum_datadir }} \
        --nodiscover \
        --maxpeers 0 \
        >>{{ log_dir }}/blockchain.log 2>&1
{% endif %}
end script
