description "{{ role_name }}"

{% if not ethereum_mine_on_boot and capabilities.vote.enabled %}
{% if is_development_environment %}
start on vagrant-mounted
{% else %}
start on startup
{% endif %}
{% endif %}
stop on shutdown

respawn
respawn limit 10 5

pre-start script
    service {{ project_name }}-blockchain-miner stop || true
end script

script
    exec geth \
{% if ethereum_max_peers is defined and ethereum_max_peers %}
        --maxpeers {{ ethereum_max_peers }} \
{% endif %}
{% if ethereum_no_discover is defined and ethereum_no_discover %}
        --nodiscover \
{% endif %}
        --rpc \
        --rpccorsdomain "http://{{ ethereum_rpc_private_host }}:{{ ethereum_rpc_private_port }}" \
{% if ethereum_network_id is defined and ethereum_network_id %}
        --networkid "{{ ethereum_network_id }}" \
{% endif %}
        --unlock 0 \
        --password {{ project_dir }}/{{ role_name }}/password \
        --datadir {{ ethereum_datadir }} \
        >>{{ log_dir }}/blockchain.log 2>&1
end script
