description "{{ project_name }}-{{ role_name }}"

start on started {{ project_name }}-blockchain-miner
stop on stopped {{ project_name }}-blockchain-miner

expect fork
respawn

script
    # nothing
end script
