description "{{ project_name }}-{{ role_name }}-ballot"

start on started {{ project_name }}-{{ role_name }}
stop on stopped {{ project_name }}-{{ role_name }}

expect fork
respawn

env NODE_ENV={{ environment_name }}

{% if is_development_environment %}
env NODE_TLS_REJECT_UNAUTHORIZED=0
{% endif %}

script
    exec forever --pidFile /var/run/{{ project_name }}-{{ role_name }}-ballot.pid start --sourceDir /vagrant/blockchain-worker --workingDir /vagrant/blockchain-worker ballot-queue-worker.js
end script

pre-stop script
    rm /var/run/{{ project_name }}-{{ role_name }}-ballot.pid
    exec forever stop /vagrant/blockchain-worker/ballot-queue-worker.js
end script
