description "{{ project_name }}-{{ role_name }}"

{% if is_development_environment %}
start on vagrant-mounted MOUNTPOINT={{ cocorico_local_dir }}
{% else %}
start on startup
{% endif %}
stop on shutdown

expect fork
respawn

script
    # nothing
end script
