description "{{ project_name }}-{{ role_name }}-vote"

start on started {{ project_name }}-{{ role_name }}
stop on stopped {{ project_name }}-{{ role_name }}

expect fork
respawn

env NODE_ENV={{ environment_name }}

{% if is_development_environment %}
env NODE_TLS_REJECT_UNAUTHORIZED=0
{% endif %}

script
    exec forever \
        start \
        -a \
        -l {{ log_dir }}/{{ role_name }}-vote.forever.log \
        -o {{ log_dir }}/{{ role_name }}-vote.log \
        -e {{ log_dir }}/{{ role_name }}-vote.error.log \
        --pidFile /var/run/{{ project_name }}-{{ role_name }}-vote.pid \
        --sourceDir /vagrant/blockchain-worker/src \
        --workingDir /vagrant/blockchain-worker/src \
        vote.js
end script

pre-stop script
    rm /var/run/{{ project_name }}-{{ role_name }}-vote.pid
    exec forever stop /vagrant/blockchain-worker/src/vote.js
end script
