description "{{ project_name }}-{{ role_name }}-ballot"

start on started {{ project_name }}-{{ role_name }}
stop on stopped {{ project_name }}-{{ role_name }}

expect fork
respawn

env NODE_ENV={{ environment_name }}

{% if is_development_environment %}
env NODE_TLS_REJECT_UNAUTHORIZED=0
{% endif %}

script
    exec forever \
        start \
        -a \
        -l {{ log_dir }}/{{ role_name }}-ballot.forever.log \
        -o {{ log_dir }}/{{ role_name }}-ballot.log \
        -e {{ log_dir }}/{{ role_name }}-ballot.error.log \
        --pidFile /var/run/{{ project_name }}-{{ role_name }}-ballot.pid \
        --sourceDir /vagrant/blockchain-worker \
        --workingDir /vagrant/blockchain-worker \
        ballot-queue-worker.js
end script

pre-stop script
    rm /var/run/{{ project_name }}-{{ role_name }}-ballot.pid
    exec forever stop /vagrant/blockchain-worker/ballot-queue-worker.js
end script
