{
  "ballotConsumerCount": {{ ballot_consumer_count }},
  "voteConsumerCount": {{ vote_consumer_count }},
  "ballotConsumerPrefetch": {{ ballot_consumer_prefetch }},
  "voteConsumerPrefetch": {{ vote_consumer_prefetch }}
}
