<Directory "{{ www_dir }}">
    Options FollowSymLinks

    Header set Cache-Control "public, must-revalidate"
    Header set Expires "Wed, 11 Jan 1984 05:00:00 GMT"

    RewriteEngine On
    RewriteBase /

    RewriteRule ^$ app-web/index.html [L,QSA]

    RewriteCond  %{DOCUMENT_ROOT}/app-web/$1 -f
    RewriteRule  ^(.*)$ /app-web/$1 [L,QSA]

    RewriteCond  %{DOCUMENT_ROOT}/app-web/$1 -d
    RewriteCond  %{DOCUMENT_ROOT}/app-web/$1/index.html -f
    RewriteRule  ^(.*)$ /app-web/$1/index.html [L,QSA]

    RewriteCond  %{REQUEST_URI} !^/app-web
    RewriteRule  ^(.*)$ /app-web/index.html [L,QSA]
</Directory>
