{
{% if is_development_environment %}
    "env": "development",
{% else %}
    "env": "production",
{% endif %}
    "capabilities" : {{ capabilities | to_json }},
    "supportedWebBrowsers": {{ supported_web_browsers | to_json }}
}
