{
{% if is_development_environment %}
    "env": "development",
{% else %}
    "env": "production",
{% endif %}
    "capabilities" : {{ capabilities | to_json }},
    "supportedWebBrowsers": {{ supported_web_browsers | to_json }},
    "supportedLocales": {{ supported_locales | to_json }}
{% if sentry %}
    , "sentry" : {
        "public_key": "{{ sentry.public_key }}",
        "project_id": "{{ sentry.project_id }}"
    }
{% endif %}
}
