description "{{ project_name }}-{{ role_name }}"

{% if is_development_environment %}
start on vagrant-mounted MOUNTPOINT={{ cocorico_local_dir }}
{% else %}
start on startup
{% endif %}
stop on shutdown

expect fork
respawn

env NODE_ENV={{ environment_name }}

{% if is_development_environment %}
env NODE_TLS_REJECT_UNAUTHORIZED=0
{% endif %}

chdir "/srv/cocorico/{{ role_name }}"

pre-start script
    npm run build
end script

script
    exec forever \
        start \
        -a \
        -o {{ log_dir }}/{{ role_name }}.log \
        --pidFile /var/run/{{ project_name }}-{{ role_name }}.pid \
        --sourceDir /srv/cocorico/{{ role_name }}/dist \
        --workingDir /srv/cocorico/{{ role_name }}/dist \
        index.js
end script

pre-stop script
    rm /var/run/{{ project_name }}-{{ role_name }}.pid
    exec forever stop /srv/cocorico/{{ role_name }}/dist/index.js
end script
