@import "./bootstrap/bootstrap.less";

// @import "./bootswatch-lumen.less";

@import "./bootswatch-journal-variables.less";

@cocorico-blue: #4285F4;
@cocorico-dark-blue: #0d64f3;
@cocorico-red: @brand-primary;
@cocorico-dark-red: #993300;
@cocorico-grey: #aaa;
@cocorico-dark-grey: #999;
@cocorico-light-grey: #E7E7E7;

@text-color: #444;
@link-color: @cocorico-blue;
@headings-color: @text-color;
@component-active-bg: @cocorico-blue;

@import "./bootswatch-journal.less";

body {
    background-color: #f8f8f8;
}

#app {
    background-color: white;
}

.cocorico-blue {
    color: @cocorico-blue;
}

.cocorico-grey {
    color: @cocorico-grey;
}

.cocorico-red {
    color: @cocorico-red;
}

#header {
    .navbar {
        border-radius: 0;
    }

    .nav button {
        margin-top: 6px;
    }

    .navbar-default .navbar-nav > li > a.active {
        color: @cocorico-blue;
    }

    #logo {
        text-transform: uppercase;
        font-size: 24px;

        a:hover {
            text-decoration: none;
        }
    }

    .account-dropdown {
        min-width: 200px;
        font-size: 20px;
        padding: 4px 0px;

        ul {
            min-width: 200px;
            margin-top: -5px;
        }
    }
}

#content {
    padding-top: @navbar-height;
    font-size: 1.5em;
}

#footer {
    border-top: 1px solid #E7E7E7;
    min-height: 200px;
    background-color: #f8f8f8;
    padding-top: 20px;
    color: @cocorico-dark-grey;

    a {
        color: @cocorico-dark-grey;
    }

    .list-inline li {
        margin-right: 20px;
    }
}

.poll {
    .poll-text {
        // font-family: "dominereg";
        text-align: justify;
    }

    .poll-title {
        margin-top: 80px;
    }
}

.page {
    margin: 50px 0;
}

.page-home {
}

.btn-vote {
    width: 170px;
    padding: 20px;
}

.btn-vote-yes {
    .btn-vote;

    color: white;
    background-color: @cocorico-blue;
    border-color: @cocorico-dark-blue;

    &:hover {
        color: white;
        border-color: @cocorico-blue;
        background-color: @cocorico-dark-blue;
    }
}

.btn-vote-blank {
    .btn-vote;

    background-color: @cocorico-grey;
}

.btn-vote-no {
    .btn-vote;

    color: white;
    background-color: @cocorico-red;
    border-color: @cocorico-dark-red;

    &:hover {
        color: white;
        border-color: @cocorico-red;
        background-color: @cocorico-dark-red;
    }
}

.btn-login {
    height: 50px
}

.error-404 {
    font-size: 2em;
}

.section {
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: 1px solid @cocorico-light-grey;

    .section-title {
        margin-bottom: 20px;
    }
}
