@import "./bootstrap/bootstrap.less";
@import "./bootswatch-lumen.less";

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

@cocorico-blue: #00AAFF;
@cocorico-dark-blue: #0077CC;
@cocorico-red: #ee3300;
@cocorico-dark-red: #993300;

body {
    background-color: #f8f8f8;
    font-family: 'Open Sans', sans-serif;
}

#app {
    background-color: white;
}

#header {
    .navbar {
        border-radius: 0;
    }

    .navbar-header {
        margin-top: 20px;
    }

    .navbar-nav {
        margin-top: 20px;
    }

    .navbar-right {
        margin-top: 0;
    }

    .navbar-default .navbar-nav > li > a.active {
        color: @cocorico-blue;
    }

    #logo {
        text-transform: uppercase;
    }
}

#content {
    padding-top: 80px;
    font-size: 1.5em;
}

#footer {
    border-top: 1px solid #E7E7E7;
    margin-top: 50px;
    min-height: 200px;
    background-color: #f8f8f8;
    padding-top: 20px;
    color: #777;

    a {
        color: #777;
    }
}

.poll-title {
    margin-top: 50px;
}

.poll-content {
    margin: 50px 0;
    text-align: justify;
}

.btn-vote {
    color: white;
    width: 170px;
    padding: 20px;

    &:hover {
        color: white;
    }
}

.btn-vote-yes {
    .btn-vote;
    background-color: @cocorico-blue;
    border-color: @cocorico-dark-blue;

    &:hover {
        border-color: @cocorico-blue;
        background-color: @cocorico-dark-blue;
    }
}

.btn-vote-no {
    .btn-vote;
    background-color: @cocorico-red;
    border-color: @cocorico-dark-red;

    &:hover {
        border-color: @cocorico-red;
        background-color: @cocorico-dark-red;
    }
}

.btn-login {
    height: 50px
}
