# Args:

- name: install nodesource key
  apt_key: url=https://deb.nodesource.com/gpgkey/nodesource.gpg.key state=present

- name: install nodesource repository
  apt_repository: repo='deb {{ nodejs_nodesource_repository }} trusty main' state=present

- name: install node
  apt: name={{ item.name }}={{ item.version }} state=present force=yes
  when: ansible_os_family == 'Debian'
  with_items:
    - { name: nodejs, version: "{{ nodejs_version }}" }
    - { name: build-essential, version: "11.6*" }
    - { name: libkrb5-dev, version: "1.12*" }

- name: fix node binary name
  command: update-alternatives --install /usr/bin/node node /usr/bin/nodejs 10
  args:
    creates: /usr/bin/node

- name: accept self signed certificates
  lineinfile: dest=/root/.bashrc line="export NODE_TLS_REJECT_UNAUTHORIZED=0"
  when:
    - is_development_environment

- name: check installed global npm packages
  shell: cat /usr/lib/node_modules/{{ item.name }}/package.json | jq -r '.version'
  with_items:
    - { name: pm2, version: 2.1.6 }
    - { name: nodemon, version: 1.3.7 }
    - { name: json, version: 9.0.3 }
    - { name: apidoc, version: 0.16.1 }
  register: result
  failed_when: no
  changed_when: result.stdout != "{{ item.version }}"

- name: install global npm packages
  npm: name={{ item.item.name }} version={{ item.item.version }} global=yes state=present
  with_items: "{{ result.results }}"
  when: item.changed

- name: list local npm packages
  find: file_type=directory paths=/srv/cocorico/lib
  register: local_npm_packages

- file: path={{ project_dir }}/lib/{{ item.path | basename }}/node_modules state=directory
  with_items: "{{ local_npm_packages.files }}"
- file: dest={{ item.path }}/node_modules src={{ project_dir }}/lib/{{ item.path | basename }}/node_modules state=link
  with_items: "{{ local_npm_packages.files }}"

- name: install local npm package dependencies
  npm: path={{ item.path }}
  with_items: "{{ local_npm_packages.files }}"

- name: build local npm packages
  shell: npm install && npm run build
  args:
    # creates: "{{ item.path }}/lib"
    chdir: "{{ item.path }}"
  with_items: "{{ local_npm_packages.files }}"
