doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="csrf-token", content="#{csrfToken}")
		meta(name="csrf-key", content="#{csrfKey}")

		base(href="/")

		link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
	body
		div#app
		script(src='/app.js')
