description "{{ role_name }}"

{% if is_development_environment %}
start on vagrant-mounted MOUNTPOINT={{ cocorico_local_dir }}
{% else %}
start on startup
{% endif %}
stop on shutdown

expect fork
respawn

env PM2_HOME=/root/.pm2
env NODE_ENV={{ environment_name }}
env NODE_PATH=/usr/lib/node_modules
{% if is_development_environment %}
env NODE_TLS_REJECT_UNAUTHORIZED=0
{% endif %}

setuid root
setgid root
chdir "{{ cocorico_api_dir }}"

script
    exec pm2 \
        start \
        {{ cocorico_api_dir }}/dist/index.js \
        --log {{ log_dir }}/{{ role_name }}.log \
        --merge-logs \
        --name "{{ role_name }}"
end script

pre-start script
    npm run build
end script

post-start script
    PID=`pm2 jlist | jq '.[] | select(.name == "{{ role_name }}") | .pid'`
    echo $PID > /var/run/{{ project_name }}-{{ role_name }}.pid
end script

post-stop script
    exec pm2 stop "{{ role_name }}"
    rm -f /var/run/{{ project_name }}-{{ role_name }}.pid
end script
