# {{ ansible_managed }}

ProxyRequests       Off
ProxyPreserveHost   On

<LocationMatch "/api/">
    ProxyPass           http://127.0.0.1:3000/ retry=0
    ProxyPassReverse    http://127.0.0.1:3000/
</LocationMatch>

<LocationMatch "/admin">
    ProxyPass           http://127.0.0.1:3000/admin retry=0
    ProxyPassReverse    http://127.0.0.1:3000/admin
</LocationMatch>
