{
{% if is_development_environment %}
    "env": "development",
{% else %}
    "env": "production",
{% endif %}
    "mongo" : {
      "uri" : "mongodb://{{ home_db_private_host }}/{{ mongodb_database_name }}"
    },
    "savedPages" : {{ home_db_saved_pages | to_json }},
    "uploadDir" : "{{ home_web_upload_dir }}",
    "blockchain" : {
        {% if blockchain_vote %}
        "voteEnabled" : true,
        {% else %}
        "voteEnabled" : false,
        {% endif %}
        "httpProvider" : "http://{{ ethereum_rpc_private_host }}:{{ ethereum_rpc_private_port }}"
    }
{% if franceconnect_client_id and franceconnect_client_secret %}
    , "franceConnect" : {
        "URL": "{{ franceconnect_url }}/",
        "openIDConnectStrategyParameters": {
            "clientID": "{{ franceconnect_client_id }}",
            "clientSecret": "{{ franceconnect_client_secret }}",
            "callbackURL": "http://{{ front_web_public_host }}/api/auth/france-connect/callback",
            "authorizationURL": "{{ franceconnect_url }}/api/v1/authorize",
            "tokenURL": "{{ franceconnect_url }}/api/v1/token",
            "userInfoURL": "{{ franceconnect_url }}/api/v1/userinfo",
            "logoutURL": "{{ franceconnect_url }}/api/v1/logout",
            "acr_values": "eidas2"
        },
        "oauth": {
            "authorizationURL": "{{ franceconnect_url }}/api/v1/authorize",
            "tokenURL": "{{ franceconnect_url }}/api/v1/token",
            "callbackURL": "http://{{ front_web_public_host }}/api/auth/france-connect/callback",
            "scope": ["openid", "profile"]
        }
    }
{% endif %}
{% if facebook_client_id and facebook_client_secret %}
    , "facebook" : {
        "clientID" : "{{ facebook_client_id }}",
        "clientSecret" : "{{ facebook_client_secret }}",
        "callbackURL" : "http://{{ front_web_public_host }}/api/auth/facebook/callback"
    }
{% endif %}
}
