{
{% if is_development_environment %}
    "env": "development",
{% if create_api_test_app is defined %}
    "testApp": {
      "id": "{{ create_api_test_app.stdout_lines[2] | regex_replace('.*ID (.*)\.', '\\1') }}",
      "secret": "{{ test_app.secret }}",
      "title": "{{ test_app.title }}",
      "url": "{{ test_app.url }}"
    },
{% endif %}
{% else %}
    "env": "production",
{% endif %}
    "hostname" : "{{ front_web_public_host }}",
    "mongo" : {
      "uri" : "mongodb://{{ api_db_private_host }}/{{ mongodb_database_name }}"
    },
    "ballotConsumerCount": {{ ballot_consumer_count }},
    "voteConsumerCount": {{ vote_consumer_count }},
    "uploadDir" : "{{ api_web_upload_dir }}",
    "capabilities" : {{ capabilities | to_json }},
    "blockchain" : {
        "httpProvider" : "http://{{ ethereum_rpc_private_host }}:{{ ethereum_rpc_private_port }}"
    }
{% if sentry is defined and sentry.secret is defined %}
    , "sentry" : {{ sentry | to_json }}
{% endif %}
{% if franceconnect_client_id is defined and franceconnect_client_secret is defined %}
    , "franceConnect" : {
        "URL": "{{ franceconnect_url }}/",
        "openIDConnectStrategyParameters": {
            "clientID": "{{ franceconnect_client_id }}",
            "clientSecret": "{{ franceconnect_client_secret }}",
            "callbackURL": "{{ http_protocol_prefix }}://{{ front_web_public_host }}/api/auth/france-connect/callback",
            "authorizationURL": "{{ franceconnect_url }}/api/v1/authorize",
            "tokenURL": "{{ franceconnect_url }}/api/v1/token",
            "userInfoURL": "{{ franceconnect_url }}/api/v1/userinfo",
            "logoutURL": "{{ franceconnect_url }}/api/v1/logout",
            "acr_values": "eidas2"
        },
        "oauth": {
            "authorizationURL": "{{ franceconnect_url }}/api/v1/authorize",
            "tokenURL": "{{ franceconnect_url }}/api/v1/token",
            "callbackURL": "{{ http_protocol_prefix }}://{{ front_web_public_host }}/api/auth/france-connect/callback",
            "scope": ["openid", "profile"]
        }
    }
{% endif %}
{% if facebook_client_id is defined and facebook_client_id %}
    , "facebook" : {
        "clientID" : "{{ facebook_client_id }}",
        "clientSecret" : "{{ facebook_client_secret }}",
        "callbackURL" : "http://{{ front_web_public_host }}/api/auth/facebook/callback"
    }
{% endif %}
{% if google_client_id is defined and google_client_id %}
    , "google" : {
        "clientID" : "{{ google_client_id }}",
        "clientSecret" : "{{ google_client_secret }}",
        "callbackURL" : "http://{{ front_web_public_host }}/api/auth/google/callback"
    }
{% endif %}
}
