# {{ ansible_managed }}

# Actual virtual host
<VirtualHost *:80>
    ServerName {{ front_web_public_host }}

{% if http_protocol_prefix == 'https' %}
    # HTTP to HTTPS redirection
    RewriteEngine On
    RewriteCond %{HTTPS} off
    RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI}
{% else %}
    # Including all additional rewrite rule configurations set by roles.
    IncludeOptional /etc/apache2/sites-available/cocorico-front-web-include/*.conf
{% endif %}

</VirtualHost>

{% if http_protocol_prefix == 'https' %}
<VirtualHost *:443>
{% if environment_name == 'staging' %}
    <Proxy *>
        Options +FollowSymLinks +Multiviews +Indexes
        AllowOverride None

        # AuthType Basic
        # AuthName "Authentication Required"
        # AuthUserFile /etc/apache2/.htpasswd
        # Require valid-user
        Require ip {{ ip_white_list | join(' ') }}
    </Proxy>
{% endif %}
{% if environment_name == 'local' %}
    SSLEngine               On
    SSLCertificateFile      /etc/apache2/ssl/{{ front_web_public_host }}.crt
    SSLCertificateKeyFile   /etc/apache2/ssl/{{ front_web_public_host }}.key
    SSLVerifyClient         None
    SSLHonorCipherOrder     On
    SSLCipherSuite          ALL:!ADH:!EXP:!LOW:!RC2:!3DES:!SEED:!RC4:+HIGH:+MEDIUM
{% endif %}
{% if certbot_enabled %}
    SSLCertificateFile /etc/letsencrypt/live/{{ front_web_public_host }}/cert.pem
    SSLCertificateKeyFile /etc/letsencrypt/live/{{ front_web_public_host }}/privkey.pem
    Include /etc/letsencrypt/options-ssl-apache.conf
    SSLCertificateChainFile /etc/letsencrypt/live/{{ front_web_public_host }}/chain.pem
{% endif %}

    # FIXME: only for legit embed pages
    Header set x-frame-options ALLOWALL

    # Including all additional rewrite rule configurations set by roles.
    IncludeOptional /etc/apache2/sites-available/cocorico-front-web-include/*.conf

    # Compression
    AddOutputFilterByType DEFLATE text/plain
    AddOutputFilterByType DEFLATE text/html
    AddOutputFilterByType DEFLATE text/xml
    AddOutputFilterByType DEFLATE text/css
    AddOutputFilterByType DEFLATE application/xml
    AddOutputFilterByType DEFLATE application/xhtml+xml
    AddOutputFilterByType DEFLATE application/rss+xml
    AddOutputFilterByType DEFLATE application/javascript
    AddOutputFilterByType DEFLATE application/x-javascript

    # Cache control
    <FilesMatch "\.(ico|pdf|flv|jpg|jpeg|png|gif|css|html)$">
        Header unset Cache-Control
        Header set Cache-Control "max-age=290304000, public"
    </FilesMatch>

</VirtualHost>
{% endif %}
