# {{ ansible_managed }}

# Actual virtual host
<VirtualHost *:80>
    ServerName          {{ front_web_public_host }}

{% if environment_name == 'staging' %}
    <Proxy *>
        Options +FollowSymLinks +Multiviews +Indexes
        AllowOverride None

        # AuthType Basic
        # AuthName "Authentication Required"
        # AuthUserFile /etc/apache2/.htpasswd
        # Require valid-user
        Require ip {{ ip_white_list | join(' ') }}
    </Proxy>
{% endif %}

    ProxyRequests           Off
    ProxyPreserveHost       On

    <Directory "{{ www_dir }}/home-web/">
       Options FollowSymLinks Includes
       AllowOverride All

       RewriteEngine On
       RewriteBase /
       RewriteRule ^/([a-z]+)$ /$1/ [L,R=301]
       RewriteCond public/%{REQUEST_FILENAME} !-f
       RewriteRule ^(.*)$ http://127.0.0.1:3000/$1 [P,QSA,L]
    </Directory>

    #
    # Endpoints: /
    # Component: Website
    # Role: home-web
    #
    ProxyPass           / http://{{ home_web_private_host }}:{{ home_web_private_port }}/
    ProxyPassReverse    / http://{{ home_web_private_host }}:{{ home_web_private_port }}/

    # Including all additional rewrite rule configurations set by roles.
    IncludeOptional     /etc/apache2/sites-available/front-web-include/*.conf

    #
    # Compression
    #
    AddOutputFilterByType DEFLATE text/plain
    AddOutputFilterByType DEFLATE text/html
    AddOutputFilterByType DEFLATE text/xml
    AddOutputFilterByType DEFLATE text/css
    AddOutputFilterByType DEFLATE application/xml
    AddOutputFilterByType DEFLATE application/xhtml+xml
    AddOutputFilterByType DEFLATE application/rss+xml
    AddOutputFilterByType DEFLATE application/javascript
    AddOutputFilterByType DEFLATE application/x-javascript

    #
    # Cache control
    #
    <FilesMatch "\.(ico|pdf|flv|jpg|jpeg|png|gif|js|css|swf|data|mem|scene|html)$">
        Header unset Cache-Control
        Header set Cache-Control "max-age=290304000, public"
    </FilesMatch>

</VirtualHost>
